
.dimensionlistBox{
	width:100%;
	height:100%;
	position: relative;
	z-index: 999;
	/**start公用添加文件夹和文件的按钮*/
	.addClassName{
		width: 56px;
		height: auto;
		position: absolute;
		z-index: 100;
		right: 320px;
		text-align: center;
		top: -58px;
		&>div:hover{
			box-shadow: 0 0 14px rgba(0,0,0,1)!important;
		}
	}
	button.addListButton {
		background: #00e5ff!important;
	}
	.colorIconWhite{color: #fff!important}
	/**end公用添加文件夹和文件的按钮*/
	
	table{
		width: 100%;
		border: 0;
		border-collapse:collapse;
		tr{
			td{
				height: 58px;
				line-height: 58px;
				vertical-align: top;
				text-align: left;
			}
			td:first-child{
				width: 138px;
				padding-left: 27px;
				padding-right: 25px;
			}
		}
		thead{
			tr{
				td{
					table{
						tr{
							td:first-child{
								padding: 0;
								width: 55%;
								padding-right:16px;
							}
							td:nth-child(2){
								width: 25%;
								border-bottom: 0;
							}
							td:nth-child(3){
								width: 20%;
							}
							
						}
					}
				}
				td:nth-child(2){
					border-bottom: #61737b solid 1px;
				}
			}
		}
	}
	dl{
		width: 85px;
		height: 58px;
		padding-top: 10px;
	}
	dl.list-icon{
		
	}
	dl dt{
		float: left;
		cursor: pointer;
		width: 16px;
		height: 16px;
		border: #a8b0b4 solid 2px;
		border-radius: 2px;
		margin-top: 12px;
	}
	dl dt.checkBoxClassName{
		border: #00e5ff solid 2px;
		background: url("images/list_checked_icon.png") center no-repeat;
	}
	.listBoxTop{
		width:100%;
		height: 62px;
		margin-top: 27px;
		color:#7d898f;
		font-size: 14px;
	}
	.listBoxDown{
		width:100%;
		height:-moz-calc(100% - 90px);
		height:-webkit-calc(100% - 90px);
		height: calc(100% - 90px);
		a{
			text-decoration: none;
		}
		ul{
			list-style: none;
		}
		ul li{
			width: 100%;
			height: 58px;
			-webkit-transition: background-color .5;
			-moz-transition: background-color .5;
			-ms-transition: background-color .5;
			-o-transition: background-color .5;
			transition: background-color .5;
			table{
				table-layout: fixed;
				tr{
					td{
						table{
							tr{
								td:first-child{
									width: 55%;
									padding: 0;
									overflow: hidden;
									text-overflow:ellipsis;
									white-space: nowrap;
									padding-right: 16px;
								}
								td:nth-child(2){
									width: 25%;
									border-bottom: 0;
								}
								td:nth-child(3){
									width: 20%;
								}
							}
						}
					}
				}
			}
			dl dd{
				float: right;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: #37474f;
			}
			
			dl dd.list_dir_icon{
				position:relative;
				.dimen-icon{
					position: absolute!important;
					z-index: 99;
					left: 8px;
					top: -10px;
					color: rgba(0, 229, 255, .87)!important;
				}
				.dimen-icon:before{
					position: absolute!important;
					left: 0;
					top: 0;
				}
				
			}
			
			
			&:hover{
				background-color: #41535c;
				&.list-item{
					a{
						color: rgba(0, 229, 255, .87)!important;
					}
				}
				
			}
			&.list-item{
				a{
					color: rgba(255, 255, 255, 0.54);
				}
			}
		}

	}
}

.detailsBox{
	width:100%;
	height:100%;
	.detailsScroll{
		height: 100%;
	    width: 100%;
	    .detailsView{
	    	padding: 32px 32px 160px 32px;
	    	width: 100%;
	    	.details{
	    		width: 100%;
	    		height: 100%;
	    		background: #fff;
	    		.tableShowScroll{
	    			padding:0;
	    		}
	    		.table-view{
	    			padding-top:0;
	    		}
	    		.dimensionText{
	    			width:100%;
	    			height: 55px;
	    			padding:24px 0 0 24px;
	    			.dimensionName{
	    				width:100%;
	    				height: 30px;
	    				text-align: left;
	    				font-size: 24px;
	    				font-weight: normal;
    					color: rgba(0, 0, 0, 0.87);
	    			}
	    		}
	    	}
	    }
	}
}

.listComponentSelect ul{
	width: 100%;
	height: 100%;
	padding:17px 0;
	list-style: none;
	&>li{
		width: 100%;
		height: 40px;
		padding:0 24px;
		&.loading {
			height:100%;
			position: relative;
		}
		&>dl{
			width: 100%;
			&>dt{
				font-size: 14px;
				color: #fff;
				float: left;
				height: 40px;
				line-height: 40px;
				overflow: hidden;
				text-overflow:ellipsis;
				white-space: nowrap;
				max-width: 258px;
			}
			&>dd{
				float: right;
				height: 40px;
				line-height: 40px;
				&>a{
					text-decoration: none;
					font-size: 14px;
					color: #fff;
					&.selectedOn{
						color: #00e5ff;
					}
				}
			}
		}
		
	}
}
