/**
 * 左侧抽屉
 */
.page-drawer-left {
	.left-nav {background-color: #465862!important;}
	.top {
		width: 100%;
		height: 144px;
		background-color: #37474f!important;
		padding-left: 24px;
		padding-top: 24px;
	}

	dl {
		dt {
			width: 56px;
			height: 56px;
			// line-height: 56px;
			overflow: hidden;
			margin-bottom: 7px;
			display: table-cell;
			vertical-align: middle;
			// padding: 12px 0;
			text-align: center;
			img{
				max-height: 56px;
				vertical-align: middle;
			}
		}
		dd {
			height: 22px;
			line-height: 22px;
			color: #fff;
			margin-top: 16px;
		}
	}
	.menu {
		padding:8px 0;
		.leftMenu {
			color:#aab4b6!important;
			&.checked {
				color:#0ad6ef!important;
				background:rgba(0,0,0,0.1)!important;
				i {
					color:#00e6fe!important;
				}
			}
			&:hover {
				color:#0ad6ef!important;
				i {
					color:#00e6fe!important;
				}
			}
			i {
				font-size:24px;
				color:#aab4b6!important;
				line-height:30px;
				top: -3px!important;
			}
			div {
				font-size:12px!important;
			}
		}
		.divider {
			background-color:#617279!important;
			margin:8px 0!important;
		}
	}
}

/**
 * 右侧抽屉
 */
.page-drawer-right {
	.right-drawer{background-color: #465862!important; }
}
.divider{
 background:#627279!important;

}
