/**
 * 通用样式
 */

* {
	margin: 0;
	padding: 0;
	//list-style: none;
	//text-decoration: none;
	border: 0;
	//font-style: normal;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: none;
    background-image: none;
    color: rgb(0, 0, 0);
}

html, body {
	// background-color: #fafafa;
	font-family: "Microsoft YaHei";
	height: 100%;
	font-size: 12px;
}
.page-drawer-right {
	position: absolute;
	height:100%;
}
/***start 全站公用的宽度值样式*/
$pixel-8px:8px;
$pixel-10px:10px;
$pixel-12px:12px;
$pixel-14px:14px;
$pixel-18px:18px;
$pixel-45px:45px;
/***end 全站公用的宽度值样式*/
.loading-box {
	position: absolute;
	width:50px;
	height:50px;
	left:50%;
	top:50%;
	margin:-25px 0 0 -25px;
}
.loadingPage {
	width:100%;
	clear:both;
	color:#fff;
	text-align:center;
	padding-bottom:30px;
	display:none;
}
.drag-panel {
	position: absolute;
	z-index:999999;
	width:100%;
}
.defaultDialogPanel {
	width: 552px !important;
    height: 412px !important;
    background-color: #37474f !important;
}
.defaultDialogPanel > div {
    width: 100%;
    height: 100%;
    position: relative;
}
.defaultDialogPanel > div .defaultDialogactions {
    width: 100%;
    height: 52px;
    line-height: 52px;
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    margin: 0 !important;
    padding: 0 16px !important;
    position: absolute;
    left: 0;
    bottom: 0;
		&>button:nth-child(1){
			margin-right: 8px !important;
		}
}
.defaultDialogTitle {
	height:0!important;
	overflow:hidden;
}
// .chartPanel {height:100%;border-radius: 2px;background:#fff;}
.errorMsg{
	width:100%;
	height:100%;
	line-height:298px;
	text-align:center;
}

.dialog-panel {
	width:100%;
	height:100%;
	position: absolute;
	z-index:1100;
	right: -100%;
	-webkit-transition: right .5s ease-in-out;
	-moz-transition: right .5s ease-in-out;
	-ms-transition: right .5s ease-in-out;
	-o-transition: right .5s ease-in-out;
	transition: right .5s ease-in-out;
	overflow:hidden;
	background:#455a64;
	top:80px;
}
.show{
	right:0;
}
.noMarginTop{
	margin-top: 0!important;
	// padding-top: 8px!important;
}
.noPaddingBottom{
	padding-bottom: 24px!important;
}
.message-panel {
	position: absolute;
	z-index:999999;
	opacity: .9;
	width:100%;
	left: 0;
	bottom:0;
	&.hide {
		height:0;
		overflow:hidden;
	}
	.message-content {
		padding:24px;
		color:green;
		&.error {
			color:red;
		}
	}
	.snackBarBox div{
		background:#000!important;
		text-align: center;
		margin:0px !important;
	}
}
.loginLoadingBox {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
    z-index: 99999;
}
.bi-btn {
	animation:mybtn .5s;
	-ms-animation:mybtn .5s; /* Firefox */
	-moz-animation:mybtn .5s; /* Firefox */
	-webkit-animation:mybtn .5s; /* Safari and Chrome */
	-o-animation:mybtn .5s; /* Opera */
	transform: scale(1);
	-ms-transform: scale(1);	/* IE 9 */
	-webkit-transform: scale(1);	/* Safari 和 Chrome */
	-o-transform: scale(1);	/* Opera */
	-moz-transform: scale(1);	/* Firefox */
	&>div:hover{
		box-shadow: 0 0 14px rgba(0,0,0,1)!important;
	}
}
.iconMenuClassName{
	float: left;
	margin-top: 15px
}
.rightMargin{
	margin-top:11px!important;
}
@keyframes mybtn
{
0%   {transform: scale(0);}
100% {transform: scale(1);}
}

@-moz-keyframes mybtn /* Firefox */
{
0%   {-moz-transform: scale(0);}
100% {-moz-transform: scale(1);}
}

@-webkit-keyframes mybtn /* Safari 和 Chrome */
{
0%   {-webkit-transform: scale(0);}
100% {-webkit-transform: scale(1);}
}

@-o-keyframes mybtn /* Opera */
{
0%   {-o-transform: scale(0);}
100% {-o-transform: scale(1);}
}

@-ms-keyframes mybtn /* Opera */
{
0%   {-ms-transform: scale(0);}
100% {-ms-transform: scale(1);}
}
/*start 登录页面样式代码*/
@media(max-width: 1366px) {
   .loginBody{
   		background: url('images/login_1366.jpg') center no-repeat;
   }
}
@media(max-width: 1920px) {
   .loginBody{
   		background: url('images/login_1920.jpg') center no-repeat;
   }
}
.loginBody{
	width: 100%;
	height: 100%;
	position: relative;
	.loginBox{
		width: 330px;
		height: 358px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -165px;
		margin-top: -179px;
	}
}
.loginBoxCompoent{
	width: 100%;
	height: 100%;
	.loginBoxLogoSection{
		text-align: center;
		margin-bottom: 69px;
	}
	.loginInputBox{
		width: 330px;
		height: 232px;
		background: rgba(255,255,255,.15);
		border-radius: 2px;
		padding: 16px 40px;
		.loginBoxInputSection{
			width: 100%;
			height: auto;
			position: relative;
			.errorMessageTextBox{
				position: absolute;
				bottom: -16px;
				left: 0;
				width: 100%;
				height: 24px;
				line-height: 24px;
				color: #f44336;
				font-size: 14px;
			}
			.inputSectionBox{
				width: 100%;
				height: 58px;
				.inputBoxClassName{
					width: 100%!important;
					height: 48px!important;
					font-size: 16px!important;
					&>input{
						height: 24px!important;
						line-height: 24px!important;
						margin: 16px 0 8px 0;
						padding:0 0 0 32px!important;
						font-size: 16px!important;
					}
					&>input[type=text]{
						background: url('images/login_icon.png') 4px 4px no-repeat;
					}
					&>input[type=text]:focus{
						color: rgba(255,255,255,.87);
						background: url('images/login_icon.png') 4px -29px no-repeat;
					}
					&>input[type=password]{
						background: url('images/login_icon.png') 4px -64px no-repeat;
					}
					&>input[type=password]:focus{
						background: url('images/login_icon.png') 4px -100px no-repeat;
					}
					&>input.text{
						color: rgba(255,255,255,.87);
						background: url('images/login_icon.png') 4px -29px no-repeat;
					}
					&>input.password{
						color: rgba(255,255,255,.87);
						background: url('images/login_icon.png') 4px -100px no-repeat;
					}
					&>input::-webkit-input-placeholder{
						color: rgba(255,255,255,.54);
					}
					&>input:focus::-webkit-input-placeholder{
						color: rgba(255,255,255,.87);
					}
					& hr{
						border-color: rgba(255,255,255,.54)!important;
						bottom:0!important;
					}
					& hr.hrDefault{
						border-color: rgba(255,255,255,.87)!important;
					}
					& hr.hr{
						border-color: #00e5ff!important;
					}
				}
			}
		}
		.loginBoxLoginBtnSection{
			width: 100%;
			height: auto;
			margin-top: 20px;
			.loginBtnBox{
				width: 100%;
				height: 36px;
				&>div{
					width: 100%!important;
					height: 36px!important;
				}
				.loginBtnBoxClassName{
					width: 100%!important;
					height: 36px!important;
					background: #00acc1!important;
					& div,& span{
						width: 100%!important;
						height: 36px!important;
						line-height: 36px!important;
						font-size: 16px!important;
						color: #fff !important;
					}
					.loginBtnLoading {
						width:36px!important;
						height:36px!important;
						display:inline-block;
						div {
							width:36px!important;
							height:36px!important;
						}
					}
				}
				.loginBtnBoxDefaultClassName{
					width: 100%!important;
					height: 36px!important;
					background: rgba(204,204,204,.27)!important;
					& div,& span{
						width: 100%!important;
						height: 36px!important;
						line-height: 36px!important;
						font-size: 16px!important;
						color: rgba(255,255,255,.54)!important;
					}
				}
			}
		}
	}
}
/*end 登录页面样式代码*/
/*start 时间超时登录页面样式代码*/
 .timeoutDialogClass{
 	width: 320px!important;
 	height:260px!important;
	background-color: #455a64!important;
	padding:20px 24px!important;
    box-shadow: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22);

    &>div{
    	box-shadow: none!important;
    }
	.timeoutDialogTitleClass{
		font-size: 16px!important;
		color: #fff!important;
		padding: 0!important;
	}
	.timeoutDialogBodyClass{
		font-size: 16px!important;
		color: #fff!important;
		padding: 0!important;
		.textInputClassName{
			width: 100%!important;
			&>input{
				font-size: 14px!important;
				color: #fff!important;
			}
		}
	}
	.timeoutDialogBottomClass{
		padding: 0!important;
		margin-bottom: 0!important;
		margin-top: 16px!important;
		.dialogHoverClassName{
			color: #00e5ff!important;
		}
	}
}
/*end 时间超时登录页面样式代码*/
.stopClickBox{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	display: none;
}
.stopClickBoxShow{
	display: block;
}
.stopDateClickBox{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	display: none;
}
.stopDateClickBoxShow{
	display: block;
}
.theadDiv{
	position: relative;
	display:inline-block;
}
.head-sort {
	position: absolute;
	left:4px;
	top:16px;
}
.chart-loading-panel {
	position: relative;
	width:100%;
	height:100%;
	background:#fff;
}
.snackBarBox {
	margin-bottom:24px !important;
	margin-left: 24px !important;
}
/*start 欢迎页面样式代码*/
.webcomePage{
	width: 100%;
	height: 100%;
	background: #455a64;
	position: relative;
	.webcomePageLogoBox{
		width: 221px;
		height: 92px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -110px;
		margin-top: -46px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		img{
			vertical-align: middle;
		}
	}
}
.guideLayer{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.65);
	z-index: 1000;
	.guideLayerMenuBox{
		width: 32px;
		height: 32px;
		line-height: 32px;
		border-radius: 50%;
		background: #37474f;
		margin: 37px 0 0 20px;
		text-align: center;
		span{
			font-size: 24px!important;
			color: #fff!important;
		}
	}
	.guideLayerBox{
		margin: 0 0 0 46px;
	}
	.meKnow{
		margin: 16px 0 0 160px;
		a{
			color: #31c0fc;
			font-size: 12px;
			text-decoration: none;
		}
	}
}
/*end 欢迎页面样式代码*/

/*start 错误提示样式代码*/
.cubi-error{
	font-size: 14px;
	color: rgba(0,0,0,.54);
	text-align: center;
	width: 100%;
	padding-top: 87px;
	position: absolute;
}
.noGetReportError{
	background: url("images/error_icon.png") center -144px no-repeat !important;
	background-size: 45%;
	top: 50%;
	left: 50%;
	margin-left: -87px;
	margin-top: -53px;
	width:174px;
	text-align: center;
}
.getReportNullError{
	background: url("images/error_icon.png") center -144px no-repeat !important;
	top: 50%;
	left: 50%;
	margin-left: -287px;
	margin-top: -53px;
	width:574px;
	text-align: center;
	background-size: 45%;
	overflow: hidden !important;
	height:110px;
}
/*end 错误提示样式代码*/
.centerClass{
	text-align: center;
}
